body
{
	background-color: aqua;
}
table
{
	width: 70%;
}
th
{
	background-color: blue;
	height: 50px;
	color: white;
	width: 100px;
}
a:link
{
	color:white;
	text-decoration:none;
}
a:visited
{
	color:yellow;
	text-decoration:none;
}
